
body {
    height: 100vh;
    background-color: rgb(80, 12, 143);
}

.main {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid blueviolet;
}

.ver-imagen{
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(157, 69, 240);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.modal-img-completa{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-container{
    width: 100%;
    max-width: 720px; /* ajusta según las necesidades */
    max-height: 80vh;
    margin: 0 auto;
    height: 100vh; /* establece la altura al 100% de la altura de la pantalla */
    
    border: 17px solid blueviolet;
    border-radius: 20px;
    background-size: 100% 100%;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: rgba(146, 7, 7, 0.549);
    text-decoration: none;
    cursor: pointer;
}

p{
    margin: 10px;
    display: inline;
    color: white;
}

.acertadas{
    margin-top: 15px;
    display: inline;
    background-color: black;
    color: white;
}

.container-9x16 {
    position: relative;
    width: 100%;
    max-width: 720px; /* ajusta según las necesidades */
    max-height: 80vh;
    margin: 0 auto;
    height: 100vh; /* establece la altura al 100% de la altura de la pantalla */
    box-shadow: 10px 5px 23px 5px rgba(0, 0, 0, 0.6), -15px 5px 13px rgba(0, 0, 0, 0.3);
    border: 17px solid blueviolet;
    border-radius: 20px;
}
  
.container-9x16::before {
    content: "";
    display: block;
    padding-top: 177.78%; /* (16/9) * 100% */
}
  
  /* Estilo adicional para el contenido dentro del contenedor, ajusta según sea necesario */
.container-9x16 > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
}

#grid-container {
    display: grid;
    max-height: 100vh;  /*posiblemente a cambiar de lugar*/
}

.pieza {
    
    /*background-size: 200% 300%;*/
    border: 1px solid rgb(125, 21, 223);
    cursor: grab;
    width: 100%;
    height: 100%;
}

.celda{
    border: 1px solid sandybrown;
}

.dragging {
    opacity: 0.5;
}
